@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Traffic police</h1>
    <h4>На данном сайте вы можете ознакомиться с доступными моделями автомобилей и подгрузить изображения.</h4>
    <h4>Также доступна функция работы с данными водителей на основании вашего уровня доступа.</h4>
</div>
